/* ==========================================================================
   MAIN CSS - Importerar alla stilmallar

   Användning i HTML:
   <link rel="stylesheet" href="/assets/css/main.css">

   Eller för GitHub Pages:
   <link rel="stylesheet" href="assets/css/main.css">
   ========================================================================== */

@import url('variables.css');
@import url('reset.css');
@import url('components.css');
@import url('layout.css');
@import url('utilities.css');
